.container-xl {
  background-color: rgb(222, 231, 224);
  padding: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

#seconds {
  padding-top: 20px;
}

.question {
  padding: 20px 0px 20px 0px;
  margin: auto;
  width: 160px;
}

#question, #newQuestion {
  text-align: center;
  font-weight: bold;
  font-weight: normal;
  font-size: 1.3em;
  color: white;
}



#inputSection {
  text-align: center;
}

#answerText {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: white;
}

#submit {
  margin-top: 20px;
  font-size: 1.3em;
}

.btn {
  align-items: center;
  margin: auto;
  height: 50px !important;
}

/* clock animation */
@keyframes move {
  from {
    left: 0%;
  }
  to {
    left: 80%
  }
}

#clock {
  display: block;
  margin: auto;
}
